@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    max-width: 1024px;
}

@media(max-width: 1070px) {
    .container {
        max-width: 80%;
    }
}

.header {
    -webkit-box-shadow: -1px 7px 18px -13px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 18px -13px rgba(0,0,0,0.75);
box-shadow: -1px 7px 18px -13px rgba(0,0,0,0.75);
}